<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is the page that allows the user to control the OT2 manually along with the thermocycler">
        <title>Manual Control</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        
        <link rel="stylesheet" href="/static/styles/style2.css">
        
        <style>
            body {
                margin: 50px;
            }
            #container{
                width: 500px;
                height: 375px;
                border: 10px #333 solid;
            }
            #needle_cam{
                width: 490px;
                height: 365px;
                background-color: #666;
            }
        </style>
    </head>

    <body>
        <h1>Calibration</h1>
        <br>
        <button id= "home" onclick="window.location.href='http://localhost:5000/';">Home</button>

        <button onclick="window.location.href='http://localhost:5000/manual_control';">Manual Control</button>
    
        <button id="labware" onclick="window.location.href='http://localhost:5000/labware';">Labware</button>
    
        <button id="protocol" onclick="window.location.href='http://localhost:5000/protocol_execution';">Protocol</button>
    
        <button id="about" onclick="window.location.href='http://localhost:5000/about';">About</button>

        <br>

        
        <h3 id="component">Component: </h3>

        <h3 id="coordinates">Current Coordinates: </h3>

        <h3 id="front left">Current Front Left: </h3>
        <h3 id="back left">Current Back Left: </h3>
        <h3 id="back right">Current Back Right: </h3>
        
        <button onclick="save_front_left()">Save Front Left</button>
        <button onclick="save_back_left()">Save Back Left</button>
        <button onclick="save_back_right()">Save Back Right</button>
        <br>
        <button type="button" disabled="disabled" id="Move_To_Front_Left">Move To Front Left</button>
        <button type="button" disabled="disabled" id="Move_To_Back_Left">Move To Back Left</button>
        <button type="button" disabled="disabled" id="Move_To_Back_Right">Move To Back Right</button>
        <br><br>

        <button type="button" disabled="disabled" id="test">Test Calibration</button>
        <button type="button" disabled="disabled" id="good_calibration" onclick="window.location.href='http://localhost:5000/labware';" >Good Calibration - Save Component</button>
        <br><br>
          
        

        <div>
            <img id="needle_cam" src="{{ url_for('video_2_feed') }}"></img> 
        </div>
        
        <br><br>
        
        

        
    </body>
    <script src="static/calibration.js"></script>
</html>