<html>
    <head>
        <title>AutoSampler Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>

    <body>
        <link rel= "stylesheet" type= "text/css" href= "/static/styles/home.css">
        <h1>OT2 Home Screen</h1>
        
        <button onclick="location.href='/labware'" type="button">Labware</button>
        <button onclick="location.href='/script'" type="button">Script</button>
        <button onclick="location.href='/settings'" type="button">System Settings</button>
        <button onclick="location.href='/manual_control'" type="button">Manual Control</button>
        <button onclick="location.href='/instantaneous_commands'" type="button">Instantaneous Commands</button>
        <br><br>
        <img src="/static/OT2.jpg" style="height: 600px;">
        <script src="static/home.js"></script>
    </body>

</html>