<html>
    <head>
        <title>Nanotrons Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>

    <body>
        <link rel= "stylesheet" type= "text/css" href= "/static/styles/home.css">
        <br><br>
        <h1 style="text-indent: 2cm;  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">OT2 Home Screen</h1>
        <img src="/static/NANOTRONS.JPG" style="height: 450px; align-self: center;">
        <br><br>
        <button onclick="location.href='/script'" style="padding: 0.5cm; background-color: rgb(88, 119, 118); size: 2cm; color: rgb(255, 255, 255);" type="button">Run/Create a Protocol</button>
        <button onclick="location.href='/labware'" style="padding: 0.5cm; background-color: rgb(138, 138, 138); color: rgb(255, 255, 255);" type="button">Add/Load Labware</button>
        <button onclick="location.href='/manual_control'" style="padding: 0.5cm; background-color: rgb(138, 138, 138); color: rgb(255, 255, 255);" type="button">Manual Control</button>
        <script src="static/home.js"></script>
    </body>

</html>