<html>
    <head>
        <title>Instantaneous Commands</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>

    <body>
        <h1>Instantaneous Commands</h1>

        <button onclick="window.location.href='http://127.0.0.1:5000/';">HOME</button> <br><br>

        <button onclick='home_all_motors()'>Home all 4 motors</button><br><br>
        
        <select id="labware_components" onclick="component_model_onclick()">
            <option value="default" selected>- Select a Labware Component -</option>
        </select>

        <select id="container_nickname" onclick="component_location_onclick()">
            <option value="default" selected>- Select a Location -</option>
        </select>

        <button id="go_button" disabled="disabled" onclick="go_button_listener()">GO</button>
        
        <label id="user_feedback"></label><br><br>

        <img id="bg" src="{{ url_for('video_1_feed') }}"> <br><br>
        <img id="bg" src="{{ url_for('video_2_feed') }}"> <br><br>

        <script src="static/instant_commands.js"></script>
    </body>

</html>