<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is the page that allows the user to control the OT2 manually along with the thermocycler">
        
        <title>Manual Control</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        
        <link rel="stylesheet" href="/static/styles/style2.css">
    </head>

    <body>
        <script type="text/javascript">
            window.onload = function(){ 
                            alert("Please make sure that the OT2 is properly homed before controlling them");
                            }
            </script>
        <h1>Manual Control</h1>
        <br>
        <button id="back_home" onclick="window.location.href='http://127.0.0.1:5000/';">HOME</button>
        <button id="load_labware" onclick="window.location.href='http://127.0.0.1:5000/load_labware_setup';">LOAD LABWARE</button>
        <button onclick="screen_info()">Screen Info</button>
        <hr/>

        <h3>OT2 Control</h3>
        <p>Homing</p>
        <button onclick="home_all_motors()">All axes</button>
        <br>
        <button onclick="home_Z()">LPippete</button>
        <button onclick="home_A()">RPipette</button>
        <br>
        <button onclick="home_B()">LSyringe</button>
        <button onclick="home_C()">RSyringe</button>

        <h3>Thermocycler</h3>
        <button onclick="open_lid()">Open Lid</button>
        <button onclick="close_lid()">Close Lid</button>
        <button onclick="deactivate_all()">Deactivate All</button>
        <br>
        <img id="bg" src="{{ url_for('static',filename='thermometer-objects.gif') }}" width="25" height="25">
        <label for="btemp">(4-99°C):</label>
        <input type="number" id="btemp" name="btemp" min="4" max="99">
        <img id="bg" src="{{ url_for('static',filename='PngItem_1526969.png') }}" width="25" height="25">
        <label for="htime">[min]:</label>
        <input type="number" id="htime" name="htime" min="0.1" max="99">
        <button onclick="set_temperature()">SET</button>
        <button onclick="deactivate_block()">Deactivate Block</button>
        <button class="btn-2" onclick="get_block_temp()">Temperature</button>
        <span id="blockT"> </span>
        <br>
        <img id="bg" src="{{ url_for('static',filename='thermometer-objects.gif') }}" width="25" height="25">
        <label for="ltemp">(37-110°C):</label>
        <input type="number" id="ltemp" name="ltemp" min="37" max="110">
        <button onclick="set_lid_temperature()">SET</button>
        <button onclick="deactivate_lid()">Deactivate Lid</button>
        <button class="btn-2" onclick="get_lid_temp()">Temperature</button>
        <span id="lidT"> </span>


        <h3>Temperature Deck</h3>
        <img id="bg" src="{{ url_for('static',filename='thermometer-objects.gif') }}" width="25" height="25">
        <label for="tdtemp">(4-95°C):</label>
        <input type="number" id="tdtemp" name="tdtemp" min="4" max="95">
        <img id="bg" src="{{ url_for('static',filename='PngItem_1526969.png') }}" width="25" height="25">
        <label for="thtime">[min]:</label>
        <input type="number" id="thtime" name="thtime" min="0.1" max="99">
        <button onclick="set_tempdeck_temp()">Set TempDeck Temperature </button>
        <button onclick="deactivate_tempdeck()">Deactivate Tempdeck</button>
        <button class="btn-2" onclick="get_tempdeck_temp()">Temperature</button>
        <span id="tdT"> </span>
        <button class="btn-2" onclick="check_tempdeck_status()">Status</button>
        <span id="tdS"> </span>

        <br>
        <br>
        <h3>Move to well or pot on loaded labware</h3>
        <select id="labware_components" onclick="component_model_onclick()">
            <option value="default" selected>- Select a Labware Component -</option>
        </select>

        <select id="container_nickname" onclick="component_location_onclick()">
            <option value="default" selected>- Select a Location -</option>
        </select>

        <button id="go_button" disabled="disabled" onclick="go_button_listener()">GO</button>
        
        
        <label id="user_feedback"></label><br><br>
        
        <br>
        <br>
        <img id="bg" src="{{ url_for('video_1_feed') }}"> 
        <img id="bg" src="{{ url_for('video_2_feed') }}"> 
        <br>
        <button type="button" id="take_picture" onclick="take_picture()">Take Picture</button>
        <br>
        <br>
        <button class="btn-1" onclick="go_to_deck_slot('10')">10</button>
        <button class="btn-1" onclick="go_to_deck_slot('11')">11</button>
        <button class="btn-1" onclick="go_to_deck_slot('12')">12</button>
        
        <br>
        <button class="btn-1" onclick="go_to_deck_slot('7')"> 7 </button>
        <button class="btn-1" onclick="go_to_deck_slot('8')"> 8 </button>
        <button class="btn-1" onclick="go_to_deck_slot('9')"> 9 </button>
        <br>
        <button class="btn-1" onclick="go_to_deck_slot('4')"> 4 </button>
        <button class="btn-1" onclick="go_to_deck_slot('5')"> 5 </button>
        <button class="btn-1" onclick="go_to_deck_slot('6')"> 6 </button>
        <br>
        <button class="btn-1" onclick="go_to_deck_slot('1')"> 1 </button>
        <button class="btn-1" onclick="go_to_deck_slot('2')"> 2 </button>
        <button class="btn-1" onclick="go_to_deck_slot('3')"> 3 </button>
        <br>
       
        <!-- <span id="syringe_settings"> </span> -->
        <script src="static/manual_control.js"></script>

        <div id="displaySettings">
        <input type="button" id="create" value="Syringe Settings" onclick="Javascript:displaySettings()">
        </div>
        <span id="syringe_settings"> </span>

        <div>   
        <input type="button" id="create" value="Rename deck" onclick="Javascript: rename_deck_slot()">
        </div>
        <span id="it_worked"> </span>
    </body>

</html>