<html>
    <head>
        <title>Scripts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
    </head>

    <body>
        <link rel= "stylesheet" type= "text/css" href= "/static/styles/protocol_execution.css">
        <h1>Protocol Execution</h1>
        <button onclick="window.location.href='http://127.0.0.1:5000/';">HOME</button>
        <button onclick="window.location.href='http://127.0.0.1:5000/protocol_edition';">Create Protocol</button>
        <br>
        <h3>Before running the protocol make sure that:</h3>
        <h5>- The name of the protocol does not contain spaces</h5>
        <h5>- The name of the protocol is a '.py' </h5>
        <h5>- The labware '.json' file is the right calibration</h5>

        <label for="protocols">Protocols</label>
        <select id="protocols" name="protocols" onclick="option_select_protocol()">
            <option value="default" selected>- Select Protocols to Display -</option>
        </select>

        <button type="button" disabled="disabled" id="display_protocol" onclick="display_contents()">Display Protocol</button>
        <button type="button" disabled="disabled" id="display_labware" onclick="display_labware()">Display Labware</button>

        <table>
            <tr>
              <th>Labware file</th>
              <th id="calibration_file"></th>
            </tr>
            <tr>
              <th>Author</th>
              <th id="author"></th>
            </tr>
            <tr>
                <th>Description</th>
                <th id="description"></th>
            </tr>
        </table>
        <table>
            <tr>
              <th>Chips</th>
              <th>Plates</th>
              <th>Location</th>
            </tr>
            <tr>
              <th id="calibrated_chips"></th>
              <th id="calibrated_plates"></th>
              <th>Locations</th>
            </tr>
        </table>
        <!-- <label for="calibrated_chips"> – Chips: </label>
        
        <br>
        
        <ol id="calibrated_plates"></ol>

        <br> -->

        <span style="color:rgb(40, 34, 122);font-weight:bold" id="file_contents"> </span>
        
    
        <br>
        <button title="RUN PROTOCOL" id="run_protocol" >RUN PROTOCOL</button>
        <button title="PAUSE" id="pause_protocol" >PAUSE</button>
        <button title="CONTINUE" id="continue_protocol" >CONTINUE</button>
        <button title="STOP" id="stop_protocol" >STOP</button>
        <br>
        <img id="bg" src="{{ url_for('video_1_feed') }}"> 
        <img id="bg" src="{{ url_for('video_2_feed') }}"> 
        <br><br>

        </body>

        <script src="/static/protocol_execution.js"></script>

    </body>

</html>

