.field_label { 
    width: 120px; 
    display: inline-block
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 4px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}